@model shopping.Models.prouduct
<!DOCTYPE html>

<html lang="en">
 <head>
    <title>Mobile Shop | Free Bootstrap Themes by 365bootstrap.com</title>

	
	
</head>
    <body>
          
        <div id="page-wrapper">

           
            <div class="container-fluid">
                                <div class="row">
             <div class="jumbotron">
                    <h1>details of thi product</h1>
                              <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                         
                        
            <br />
<br />
        NAME :
               @Html.DisplayFor(modelItem => modelItem.name,new { @style="font-size: 400%z" })
     
     <br />           
	    <br />
        Category :
     
               @Html.DisplayFor(modelItem =>modelItem.category,new { @style="font-size: 400px" })
                 <br />
    
        <br />
        PRICE :

                  @Html.DisplayFor(modelItem => modelItem.price,new { @style="font-size: 400px" })
     
                <br />
         <br />
        DESCRIPTION :
                  @Html.DisplayFor(modelItem => modelItem.description,new { @style="font-size: 400px" })
                <br />
     
    <br />
      <img src="@Model.image" height="300" width="275" alt="" />
   
             
                <br />
    
                <br />
               
   
                <div class="col-md-4">
    
  @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    </div>  
          </div>
               
      </div>            
                </div></div></body></html>
  <br />
<br />           
	    <br />
      
   @Styles.Render("~/Content/PagedList.css")