p

	@model shopping.Models.deal
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style9.css">
	
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="~/fonts/font-slider.css" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="~/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="~/js/bootstrap.min.js"></script>
    
    <script src="~/js/photo-gallery.js"></script>
	
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li><a href="category.html">Category</a></li>
						<li><a href="#"> @Model.category</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="main-content" class="col-md-8">
					<div class="product">
						<div class="col-md-6">
							<div class="image">
								<img src="@Model.image" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="caption">
								<div class="name"><h3>@Model.name</h3></div>
								<div class="info">
									<ul>
										<li>Brand: @Model.category</li>
										<li>ID:@Model.Id</li>
									</ul>
								</div>
								<div class="price">PRICE :@Model.price</div>
					                    
  @using (Html.BeginForm("Cart","Home",FormMethod.Post,   new { enctype = "multipart/form-data" }))
{
                   <input type="hidden" name="id3" value="@Model.Id" /> 
      <input type="number" name="name" min="1" max="100" value="1">
      <input type="submit" value="ADD CART"  class="btn btn-2"/>
        
					 
}        
	    <br />
							</div>
						</div>
                        </div></div>
						<div class="clear"></div>
					</div>	
					<div class="product-desc">
						<div class="tab-content">
							<div id="description" class="tab-pane fade in active">
								<h4>@Model.name</h4>
								<p>@Model.description</p>
							</div>
							<div id="review" class="tab-pane fade">
							  <div class="review-text">
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							  </div>
							  <div class="review-form">
								<h4>Write a review</h4>
								<form name="form1" id="ff" method="post" action="review.php">
									<label>
									<span>Enter your name:</span>
									<input type="text"  name="name" id="name" required>
									</label>
									<label>
									<span>Your message here:</span>
									<textarea name="message" id="message"></textarea>
									</label>
									<div class="text-right">
										<input class="btn btn-default" type="reset" name="reset" value="Reset">
										<input class="btn btn-default" type="submit" name="Submit" value="Submit">
									</div>
								</form>
							  </div>
							</div>
						</div>
					</div>
	</div></div>
	<!-- IMG-thumb -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<script>
	    $(document).ready(function () {
	        $(".nav-tabs a").click(function () {
	            $(this).tab('show');
	        });
	        $('.nav-tabs a').on('shown.bs.tab', function (event) {
	            var x = $(event.target).text();         // active tab
	            var y = $(event.relatedTarget).text();  // previous tab
	            $(".act span").text(x);
	            $(".prev span").text(y);
	        });
	    });
	</script>
